# Dependencies
node_modules/
/.next/
/out/

# Production
/build

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
*.pem

# Logs
logs
*.log

# IDE
.vscode/
.idea/

# Temp
.temp/
.cache/V E R C E L _ E N V _ V A R S . m d 

/docs
/backup-files
 
 